*{
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.content {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

h1 {
    background: linear-gradient(to bottom, #ff0000, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;
    font-family: 'Jersey 10', sans-serif;
    font-size: 5rem;
    border-radius: 50rem;
    border-color: black;
    border-style: double;
    justify-content: flex-end;
}

#pokeball {
    position: absolute;
    width: 5rem;
    height: auto;
    margin-left: -7rem;
    animation: changeBackgroundColor 7s infinite;
}

@keyframes changeBackgroundColor {
    0% {
        transform: scaleX(0);
        transform-origin: bottom right;
    }
    25% {
        transform: scaleX(1.0);
        transform-origin: bottom left; 
    }
    50% {
        transform: scaleX(0);
        transform-origin: bottom left;
    }
    75% {
        transform: scaleX(1.0);
        transform-origin: bottom left; 
    }
    100% {
        transform: scaleX(0);
        transform-origin: bottom right;
    }
  }

#searchInput {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #817e7e;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    width: 50%;
}

.pokemonsView {
    font-size: 1.5rem;
    font-weight: 500;
}

button {
    padding: 1rem 2rem;
    margin: 1rem;
    border: none;
    border-radius: 1rem;
    background-color: #ff0000;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.5s;
}

footer {
    align-items: center;
    text-align: center;
}

@media (min-width: 1200px) {
    /*.content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
    }*/
    #pokeball {
        width: 5rem;
        height: auto;
        margin-left: -15rem;
    }
    
}