*{
    font-family: 'Roboto', sans-serif;
}

.content {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

h1 {
    background: linear-gradient(to bottom, #ff0000, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;
    font-family: 'Jersey 10', sans-serif;
    font-size: 5rem;
    border-radius: 50rem;
    border-color: black;
    border-style: double;
    justify-content: flex-end;
}

#pokeball {
    position: absolute;
    width: 5rem;
    height: auto;
    margin-left: -7rem;
}

#searchInput {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #817e7e;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    width: 50%;
}

.pokemonsView {
    font-size: 1.5rem;
    font-weight: 500;
}

button {
    padding: 1rem 2rem;
    margin: 1rem;
    border: none;
    border-radius: 1rem;
    background-color: #ff0000;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.5s;
}

/* The modified code is: */

/* ol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0%;
    margin: 0%;
} */

/* li {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: forestgreen;
    color: white;
    font-size: xx-large;
} */

/* h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
} */

/* img {
    max-width: 100%;
    height: 70px;
    transition: 0.5s;
} */

/* img:hover {
    transform: scale(1.1);
} */

/* li p {
    display: flex;
    font-size: 1.5rem;
    position: relative;
    flex-direction: row-reverse;
} */

/* span {
    padding: .25rem .5rem;
    margin: .25rem 0;
    border-radius: 1rem;
    background-color: #61e1ca;
    color: #fff;
    font-size: .625rem;
} */

@media (min-width: 1200px) {
    /*.content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
    }*/
    #pokeball {
        width: 5rem;
        height: auto;
        margin-left: -15rem;
    }
    
}