*{
    font-family: 'Roboto', sans-serif;
}

.content {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

h1 {
    background: linear-gradient(to bottom, #ff0000, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;
    font-family: 'Jersey 10', sans-serif;
    font-size: 5rem;
    border-radius: 50rem;
    border-color: black;
    border-style: double;
    justify-content: flex-end;
}

#pokeball {
    position: absolute;
    width: 5rem;
    height: auto;
    margin-left: -7rem;
}

ol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0%;
    margin: 0%;
}

li {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: forestgreen;
    color: white;
    font-size: xx-large;
}



h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

img {
    width: 100%;
    height: auto;
    transition: 0.5s;
}

img:hover {
    transform: scale(1.1);
}

li p {
    display: flex;
    font-size: 1.5rem;
    position: relative;
    flex-direction: row-reverse;
}

span {
    font-weight: bold;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
}

@media (min-width: 1200px) {
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
    }
    #pokeball {
        width: 10rem;
        height: auto;
        margin-left: -18rem;
    }
    
}